rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /post-images/{type}/{userId}/{imageId} {
      allow read: if type == 'anonymous'
                  || (
                    request.auth != null
                    && (
                      request.auth.uid == userId
                      || request.auth.token.email_verified == true
                      || firestore.exists(/databases/(default)/documents/admin_roles/$(request.auth.uid))
                    )
                  );
      allow create: if request.auth != null
                    && request.auth.uid == userId
                    && (type == 'anonymous' || type == 'scams')
                    && request.resource.contentType.matches('image/jpeg')
                    && request.resource.size < 5 * 1024 * 1024;
      allow update, delete: if false;
    }
  }
}
